Repository nickjohngray/staticbackeditor: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run checkcss, npm run checkts

show console messages from npm run repo-start process
  src/server/routes/util.ts
Due: npm run checkts

update a page with same name
  src/client/components/editors/Pages/Pages.tsx
Due: npm run checkts

tree reafactor to do everything through redux
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/Pages/Pages.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/editors/Tree/EditableLeaf/EditableLeaf.tsx
  src/client/components/editors/Tree/Tree.tsx
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/actions/manifest.action.ts
  src/client/redux/reducers/example-find-object-by-path.html
  src/client/redux/reducers/manifest.reducer.ts
  src/server/routes/login.ts
Due: npm run checkts

refactor for undoable and routes
  src/client/components/Shapes.tsx
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/Pages/Pages.tsx
  src/client/components/editors/Pages/PagesDashboard.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/editors/Tree/EditableLeaf/EditableLeaf.tsx
  src/client/components/pages/Layout/Layout.tsx
Due: npm run checkts

fix for first undo, it was making first page null, moved to its own reducer
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/Pages/Pages.tsx
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/components/pages/Loader/Loader.css
  src/client/redux/actionMiddleware.ts
  src/client/redux/actions/manifest.action.ts
  src/client/redux/actions/pages.actions.ts
  src/client/redux/reducers/index.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/redux/reducers/pages.reducer.ts
  src/client/typings.ts
Due: npm run checkcss, npm run checkts

section item in tree can now be deleted
  src/client/components/editors/EditableLabel/EditableLabel.css
  src/client/components/editors/EditableLabel/EditableLabel.tsx
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/Pages/Pages.tsx
  src/client/components/editors/Pages/PagesDashboard.css
  src/client/components/editors/Pages/PagesDashboard.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/editors/Tree/Tree.tsx
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/actionMiddleware.ts
  src/client/redux/actions/manifest.action.ts
  src/client/redux/actions/pages.actions.ts
  src/client/redux/actions/ui.actions.ts
  src/client/redux/reducers/index.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/redux/reducers/pages.reducer.ts
  src/client/redux/reducers/ui.reducer.ts
  src/client/typings.ts
  src/client/util.ts
  tslint.json
Due: npm run checkcss, npm run checkts

restore undo/redo state on login , add new orb loader, Editable Label to handle delete
  src/client/components/editors/EditableLabel/EditableLabel.css
  src/client/components/editors/EditableLabel/EditableLabel.tsx
  src/client/components/editors/Pages/PagesDashboard.tsx
  src/client/components/editors/Tree/Tree.css
  src/client/components/editors/Tree/Tree.tsx
  src/client/components/pages/Loaders/Loader/Loader.css
  src/client/components/pages/Loaders/Loader/Loader.tsx
  src/client/components/pages/Loaders/OrbLoader/OrbLoader.css
  src/client/components/pages/Loaders/OrbLoader/OrbLoader.tsx
  src/client/components/pages/Login/Login.tsx
  src/client/redux/actionMiddleware.ts
  src/client/redux/store.ts
Due: npm run checkcss, npm run checkts

refactor tree leaf into own component and start image upload
  package-lock.json
  package.json
  src/client/components/editors/EditableLabel/EditableLabel.tsx
  src/client/components/editors/PageEditor/PageEditor.css
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/editors/Tree/Tree.css
  src/client/components/editors/Tree/Tree.tsx
  src/client/components/editors/Tree/TreeLeaf/TreeLeaf.css
  src/client/components/editors/Tree/TreeLeaf/TreeLeaf.tsx
Due: npm run checkcss, npm run checkts

fix sub routes, added image upload and preview
  .gitignore
  package-lock.json
  package.json
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/editors/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/index.html
  src/client/index_old.html
  src/server/controllers/upload-controller.ts
  src/server/index.ts
  src/server/routes/file-upload.ts
  webpack.config.js
Due: npm run checkts

CRUD complete on section editor and tree
  package-lock.json
  src/client/App.tsx
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.css
  src/client/redux/actions/manifest.action.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/util/constants.ts
  src/shared/typings.ts
  tslint.json
Due: npm run checkcss, npm run checkts

pages ordered by drag
  package-lock.json
  package.json
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PageItem/index.ts
  src/client/components/editors/PagesEditor/PagesEditor.css
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/redux/actions/manifest.action.ts
  src/client/redux/reducers/manifest.reducer.ts
Due: npm run checkcss, npm run checkts

refactor tree node
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.css
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/data.json
  src/client/components/generic/Tree/treeUtil.ts
  src/client/components/generic/Wrapper.tsx
Due: npm run checkcss, npm run checkts

nested drag within tree
  package.json
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/Drag/Drag.css
  src/client/components/generic/Drag/Drag.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/tmp.html
  src/client/components/generic/Tree/treeUtil.ts
  src/client/redux/actions/manifest.action.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/shared/typings.ts
Due: npm run checkcss, npm run checkts

fix some react key warnings and nested <li>
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/treeUtil.ts
Due: npm run checkts

refactor file uploader and tree leaf
  src/client/components/generic/FileUploader/FileUpLoader.css
  src/client/components/generic/FileUploader/FileUploader.tsx
  src/client/components/generic/Something.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Wrapper.tsx
Due: npm run checkcss, npm run checkts

started product editor
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/shared/typings.ts
Due: npm run checkts

working on product editor
  src/client/App.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/EditableLabel/EditableLabel.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/treeUtil.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/util/constants.ts
  src/client/util/utilGeneral.ts
  src/shared/typings.ts
Due: npm run checkts

product editor > tree > leaf > EditableLabel supports number type
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/generic/EditableLabel/EditableLabel.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/treeUtil.ts
  src/client/util/constants.ts
Due: npm run checkts

products now draggable, custom drag congifg feature
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/generic/Drag/Drag.css
  src/client/components/generic/EditableLabel/EditableLabel.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/treeUtil.ts
  src/client/redux/reducers/manifest.reducer.ts
Due: npm run checkcss, npm run checkts

made nodeKeyForObjectsAndArrays into array
  package-lock.json
  package.json
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/EditableLabel/EditableLabel.css
  src/client/components/generic/EditableLabel/EditableLabel.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.css
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/treeUtil.ts
  src/client/util/constants.ts
Due: npm run checkcss, npm run checkts

split button, dynamic varitions
  src/client/components/editors/ProductEditor/ProductEditor.css
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/editors/ProductEditor/productSetupData.ts
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/EditableLabel/EditableLabel.css
  src/client/components/generic/EditableLabel/EditableLabel.tsx
  src/client/components/generic/FileUploader/FileUpLoader.css
  src/client/components/generic/FileUploader/FileUploader.tsx
  src/client/components/generic/Shapes.tsx
  src/client/components/generic/SplitButton/SplitButton.css
  src/client/components/generic/SplitButton/SplitButton.tsx
  src/client/components/generic/Tree/Tree.css
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.css
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.css
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/tmp.html
  src/client/components/generic/Tree/treeUtil.ts
  src/client/components/pages/Layout/Layout.css
  src/client/index.html
  src/client/redux/reducers/manifest.reducer.ts
  src/server/controllers/upload-controller.ts
  src/server/routes/add-page.ts
  src/server/routes/delete-page.ts
  src/shared/typings.ts
Due: npm run checkcss, npm run checkts

refactor drag, cancel drag now done via child ref, rt works
  package-lock.json
  package.json
  src/client/App.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/editors/RichTextEditor/RichTextEditor.css
  src/client/components/editors/RichTextEditor/RichTextEditor.tsx
  src/client/components/editors/RichTextEditor/RichTextEditorComponents.tsx
  src/client/components/editors/RichTextEditor/RichTextReadOnly.tsx
  src/client/components/generic/Drag/Drag.tsx
  src/client/components/generic/Drag/DragHandle.tsx
  src/client/components/generic/Drag/DragItem.tsx
  src/client/components/generic/EditableLabel/EditableLabel.css
  src/client/components/generic/EditableLabel/EditableLabel.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/generic/Tree/TreeNode/TreeNode.tsx
  src/client/components/generic/Tree/tmp.html
  src/client/context/MainContext.ts
  src/client/context/StaticBackEditor.ts
  src/client/util/constants.ts
  src/shared/typings.ts
Due: npm run checkcss, npm run checkts

rich text update
  package.json
  src/client/App.tsx
  src/client/components/editors/LabelEditor/LabelEditor.css
  src/client/components/editors/LabelEditor/LabelEditor.tsx
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditor.css
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditorUtil.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTImageElement.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTBlockButton.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTMarkButton.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
  src/client/components/editors/RichTextEditor/RichText.tsx
  src/client/components/editors/RichTextEditor/RichTextEditor.tsx
  src/client/components/editors/RichTextEditor/RichTextReadOnly.tsx
  src/client/components/editors/RichTextEditor/withHtml.tsx
  src/client/components/generic/ContentToggler/ContentToggler.tsx
  src/client/components/generic/ContentToggler/index.js
  src/client/components/generic/Drag/Drag.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/Tree/TreeLeaf/TreeLeaf.tsx
  src/client/components/pages/Layout/Layout.tsx
  src/client/components/pages/Login/Login.tsx
  src/client/context/MainContext.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/server/index.ts
Due: npm run checkcss, npm run checkts

generic rtb editor for pages, can display contact page with new json structure
  package-lock.json
  package.json
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditorUtil.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/components/editors/RichTextEditor/RichText.tsx
  src/client/components/editors/RichTextEditor/website.css
  src/client/components/generic/PdfViewer.tsx
  src/server/routes/login.ts
  src/server/routes/util.js
Due: npm run checkcss, npm run checkts

started IncredibleEditor
  src/client/assets/images/pdf_icon.png
  src/client/components/editors/IncredibileEditor.tsx/IncredibleEditor.css
  src/client/components/editors/IncredibileEditor.tsx/IncredibleEditor.tsx
  src/client/components/editors/IncredibileEditor.tsx/index.ts
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/util/constants.ts
  src/shared/typings.ts
Due: npm run checkcss, npm run checkts

IncredibleEditor
  package-lock.json
  package.json
  src/client/App.tsx
  src/client/components/editors/IncredibileEditor.tsx/IncredibleEditor.css
  src/client/components/editors/IncredibileEditor.tsx/IncredibleEditor.tsx
  src/client/components/editors/IncredibileEditor.tsx/index.ts
  src/client/components/editors/LabelEditor/LabelEditor.tsx
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.css
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PagesEditor.css
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
  src/client/components/editors/RichTextEditor/RichText.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/Drag/DragHandle.tsx
  src/client/components/generic/Shapes.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/components/pages/NotFound.tsx
  src/client/redux/actionMiddleware.ts
  src/client/redux/actions/manifest.action.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/util/constants.ts
  src/client/util/utilGeneral.ts
  src/client/util/utilLocalStorage.ts
  src/server/git-util.ts
  src/server/index.ts
  src/server/routes/login.ts
  src/server/routes/publish.ts
  src/server/routes/save-manifest.ts
  src/shared/typings.ts
Due: npm run checkcss, npm run checkts

fixed case for forever icon for linx
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PagesEditor.css
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/server/mongo/openConnection.ts
Due: npm run checkcss, npm run checkts

upadate prod scripts
  .lintstagedrc
  package-lock.json
  package.json
  src/client/components/editors/LabelEditor/LabelEditor.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditorUtil.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTBlockButton.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTMarkButton.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
  src/client/components/generic/Drag/DragHandle.tsx
  src/client/components/generic/icons/AddIcon.tsx
  src/client/components/generic/icons/CodeIcon.tsx
  src/client/components/generic/icons/DeleteForeverIcon.tsx
  src/client/components/generic/icons/DragHandleIcon.tsx
  src/client/components/generic/icons/FormatBoldIcon.tsx
  src/client/components/generic/icons/FormatItalicIcon.tsx
  src/client/components/generic/icons/FormatListBulletedIcon.tsx
  src/client/components/generic/icons/FormatListNumberdIcon.tsx
  src/client/components/generic/icons/FormatQuoteIcon.tsx
  src/client/components/generic/icons/FormatUnderlinedIcon.tsx
  src/client/components/generic/icons/LooksOneIcon.tsx
  src/client/components/generic/icons/LooksTwoIcon.tsx
  src/client/components/generic/icons/iIcon.ts
  src/client/components/generic/icons/index.css
  src/client/components/generic/icons/index.ts
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/store.ts
  src/server/mongo/dbAuth.js
  src/server/mongo/openConnection.ts
  src/server/routes/login.ts
  src/server/routes/save-manifest.ts
  src/server/routes/util.js
  tslint.json
  webpack.config.js
Due: npm run checkcss, npm run checkts

fixed routes
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/reducers/ui.reducer.ts
Due: npm run checkcss, npm run checkts

added forever
  package.json
  src/scripts/start_client_prod.js
  src/scripts/start_prod.js
  src/scripts/start_server_prod.js
  src/server/routes/util.js
Due: none

show more info on login preview error
  .gitignore
  src/server/routes/login.ts
  src/server/routes/route-util.ts
  src/server/routes/save-manifest.ts
Due: npm run checkts

mend
  src/client/components/pages/Layout/Layout.tsx
  src/client/components/pages/Layout/tmp.json
  src/scripts/start_client_prod.js
  src/scripts/test-child-process.js
  src/server/routes/login.ts
  src/server/routes/route-util.ts
  src/server/routes/save-manifest.ts
  xyz/package-lock.json
Due: npm run checkts

pdf shows fix dev script
  .gitignore
  package.json
  src/client/components/editors/IncredibileEditor/IncredibleEditor.css
  src/client/components/editors/IncredibileEditor/IncredibleEditor.tsx
  src/client/components/editors/IncredibileEditor/index.ts
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/ProductEditor/ProductEditor.tsx
  src/client/components/editors/SectionEditor/SectionEditor.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/redux/actionMiddleware.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/server/routes/save-manifest.ts
  src/shared/typings.ts
  xyz/package-lock.json
Due: npm run checkcss, npm run checkts

icons and preview open by port
  package.json
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/generic/Tree/Tree.tsx
  src/client/components/generic/icons/AddIcon.tsx
  src/client/components/generic/icons/GoLiveIcon.tsx
  src/client/components/generic/icons/LogoutIcon.tsx
  src/client/components/generic/icons/PreviewIcon.tsx
  src/client/components/generic/icons/RedoIcon.tsx
  src/client/components/generic/icons/SaveIcon.tsx
  src/client/components/generic/icons/UndoIcon.tsx
  src/client/components/generic/icons/ViewLiveIcon.tsx
  src/client/components/generic/icons/index.ts
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/actions/ApiRoutes.ts
  src/client/redux/actions/manifest.action.ts
  src/client/redux/actions/ui.actions.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/redux/reducers/ui.reducer.ts
  src/server/index.ts
  src/server/mongo/dbAuth.js
  src/server/routes/login.ts
  src/server/routes/preview.ts
  src/server/routes/route-util.ts
Due: npm run checkcss, npm run checkts

fixed current page issue some css for backgroud
  src/client/App.tsx
  src/client/components/editors/LabelEditor/LabelEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.css
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditor.css
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.css
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
  src/client/components/editors/RichTextEditor/RichText.tsx
  src/client/components/pages/Layout/Layout.css
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/reducers/manifest.reducer.ts
  src/client/redux/reducers/ui.reducer.ts
  src/shared/typings.ts
Due: npm run checkcss, npm run checkts

use page id not page to keep track of current page
  src/client/components/editors/PageEditor/PageEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.tsx
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/generic/PdfViewer.tsx
  src/client/components/pages/Layout/Layout.tsx
  src/client/components/pages/Login/Login.tsx
  src/client/redux/actions/ui.actions.ts
  src/client/redux/reducers/manifest.reducer.ts
  src/client/redux/reducers/ui.reducer.ts
  src/client/redux/store.ts
Due: npm run checkcss, npm run checkts

install repo modules on login and build on preview
  src/server/routes/login.ts
  src/server/routes/route-util.ts
Due: npm run checkts

install repo modules on login and build on preview
  src/client/components/editors/IncredibileEditor/IncredibleEditor.tsx
  src/client/components/editors/PagesDashboard/PagesDashboard.tsx
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/actions/ui.actions.ts
  src/client/redux/reducers/ui.reducer.ts
  src/server/routes/login.ts
  src/server/routes/preview.ts
  src/server/routes/route-util.ts
Due: npm run checkts

Path conditions:
  npm run checkcss: any of: *.{css,less,sass}
  npm run checkts: any of: *.{ts,tsx}
