Repository nickjohngray/staticbackeditor: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run checkcss, npm run checkts

.lintstagedrc:

{
  "*.{css,less,sass}": [
          "npm run checkcss"
  ],
  "*.{ts,tsx}": [
        "npm run checkts"
   ]
}

kill preview process and retrn port on preview
  src/client/components/pages/Layout/Layout.tsx
  src/client/redux/reducers/ui.reducer.ts
  src/server/index.ts
  src/server/routes/login.ts
  src/server/routes/preview.ts
  src/server/routes/route-util.ts
Due: npm run checkts

rich text alignment
  .stylelintrc.json
  package-lock.json
  package.json
  src/client/components/editors/IncredibileEditor/IncredibleEditor.css
  src/client/components/editors/RichTextEditor/RTEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditorUtil.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
  src/client/components/editors/RichTextEditor/website.css
  src/client/components/generic/icons/AlignCenterIcon.tsx
  src/client/components/generic/icons/AlignJustifyIcon.tsx
  src/client/components/generic/icons/AlignLeftIcon.tsx
  src/client/components/generic/icons/AlignRightIcon.tsx
  src/client/components/generic/icons/index.ts
  src/client/components/pages/Layout/Layout.css
Due: npm run checkcss, npm run checkts

rt alignment done
  package-lock.json
  package.json
  src/client/components/editors/PagesDashboard/PagesDashboard.css
  src/client/components/editors/PagesEditor/PageItem/PageItem.css
  src/client/components/editors/RichTextEditor/RTEditor.css
  src/client/components/editors/RichTextEditor/RTEditorUtil.tsx
  src/client/components/editors/RichTextEditor/RTElement.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTMarkButton.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.css
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
Due: npm run checkcss, npm run checkts

color picker
  package-lock.json
  package.json
  src/client/components/editors/LabelEditor/LabelEditor.tsx
  src/client/components/editors/PagesEditor/PagesEditor.tsx
  src/client/components/editors/RichTextEditor/RTEditorUtil.tsx
  src/client/components/editors/RichTextEditor/RTLeaf.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/ColorPicker/ColorPicker.css
  src/client/components/editors/RichTextEditor/RTToolbar/ColorPicker/ColorPicker.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTMarkButton.tsx
  src/client/components/editors/RichTextEditor/RTToolbar/RTToolbar.tsx
  src/client/components/generic/icons/ColorIcon.tsx
  src/client/components/generic/icons/index.ts
Due: npm run checkcss, npm run checkts

Update README.md
  README.md
Due: none
